# =================================================================
# Gitpod
core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
# =================================================================
# Project Locals
/.github/workflows/*
venv/*
node_modules/
# =================================================================
# Creds/Secret
creds.json
.env
# =================================================================
# Extensions/Plugin
/.write/
/pycriteria/__init__.py
/pycriteria/__main__.py
/pycriteria/settings.py
/app-requirements.txt
/messages.csv
/dev-requirements.txt
/test-requirememts.txt
/profile.ps1
/.committemplate
/.idea/inspectionProfiles/Default.xml
/.idea/sonarlint/issuestore/1/9/19782debcf504bcd7b5317b43d443b6bbb1a2c5c
/.idea/sonarlint/issuestore/5/d/5d07e7d72637aa0d59c89d381fe6dc4cf46e2491
/.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/sonarlint/issuestore/a/7/a77b15c0d64cf6111e025645e562faf8ccabb9d7
/.idea/sonarlint/issuestore/b/c/bc3c68e880d1a01632bce79f69dd1387c7ba9c54
/.idea/sonarlint/issuestore/f/b/fb6220478aaba649aac37271a1d7c6317abc03a6
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/1/9/19782debcf504bcd7b5317b43d443b6bbb1a2c5c
/.idea/sonarlint/securityhotspotstore/5/d/5d07e7d72637aa0d59c89d381fe6dc4cf46e2491
/.idea/sonarlint/securityhotspotstore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/sonarlint/securityhotspotstore/a/7/a77b15c0d64cf6111e025645e562faf8ccabb9d7
/.idea/sonarlint/securityhotspotstore/b/c/bc3c68e880d1a01632bce79f69dd1387c7ba9c54
/.idea/sonarlint/securityhotspotstore/f/b/fb6220478aaba649aac37271a1d7c6317abc03a6
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/.name
/.idea/jsLibraryMappings.xml
/.idea/sonarlint.xml
/.idea/webResources.xml
/.docs/credentials/Drive-Create-Credentials.png
/.data/PyCriteria (1) b8f20da97f2140669b9bcf19cb5d3286.csv
/.idea/git_toolbox_prj.xml
