# =================================================================
# Gitpod
core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
# =================================================================
# Project Locals
/.github/workflows/*
venv/*
node_modules/
# =================================================================
# Creds/Secret
creds.json
.env
# =================================================================
# Extensions/Plugin
/.write/
# =================================================================
# Requirements
/app-requirements.txt
/messages.csv
/dev-requirements.txt
/test-requirememts.txt
# =================================================================
# Git
/.committemplate
# =================================================================
# IDE
/.idea*
/.idea/*
/.idea/inspectionProfiles/Default.xml
/.idea/.name
/.idea/jsLibraryMappings.xml
/.idea/sonarlint.xml
/.idea/webResources.xml
/.docs/credentials/*
/.data/*
/.idea/git_toolbox_prj.xml
/.idea/sonarlint/*
/.idea/sonarlint/issuestore/*
/.idea/sonarlint/securityhotspotstore/*
# =================================================================
*-v1.py
/prompt_toolkit/
/App.puml
/app-activity.puml
/app-class.puml
/app-object.puml
/cmdcomplete.py
/tutorial.py
/pycriteria.lnk
*.log
ruff.log
/.app/
/.app/
/.apps/app.run.xml
/appv1.py
/Remote issue
