# =================================================================
# Gitpod
core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
# =================================================================
# Project Locals
/.github/workflows/*
venv/*
node_modules/
# =================================================================
# Creds/Secret
creds.json
.env
# =================================================================
# Extensions/Plugin
/.write/
/pycriteria/__init__.py
/pycriteria/__main__.py
/pycriteria/settings.py
/app-requirements.txt
