### LoveSandwiches ###
## Python 3.11
# Project Used
loguru>=0.7.0
## TUI/CLI
click>=8.1.3
click-repl>=0.2.0
typer>=0.9.0
rich>=13.3.5
prompt_toolkit>=3.0.38
## Data
pandas>=2.0.1
## Google API
google>=3.0.0
gspread>=5.8.0
gspread_dataframe>=3.0.8
# Environment
python-dotenv>=1.0.0
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
